:root {
  --red-color: #ed5e74;
  --primary-color: #60558f;
  --background-color: #eeeff5;
  --gray-color: #86899f;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
